@import url(http://fonts.googleapis.com/css?family=Open+Sans:400&subset=latin,latin-ext);

html,
body {
  height: 100%;
  color: #232323;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.8;
}

body {
  background: #FBFAF7 url('../images/background.jpg') top center fixed;
  background-size: cover;
  text-align: center;
}

.card {
  background-color: #FBFAF7;
  opacity: 0.9;
  padding: 20px;
  display: inline-block;
  margin-top: 20vh;
}

.social-icons {
  text-align: center;
}

.social-icons li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px;
}

.social-icons li .separator {
  border-left: 1px #aaa solid;
}

.social-icons a,
.social-icons svg {
  display: block;
  height: 48px;
  width: 48px;
}

.social-icons path {
  fill: #000;
}

.social-icons a:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease;
}

.social-icons a path {
  transition: fill 0.5s ease;
}

.social-icons .facebook:hover path {
  fill: #3b5998;
}

.social-icons .linkedin:hover path {
  fill: #007bb6;
}

.social-icons .twitter:hover path {
  fill: #00aced;
}

.social-icons .youtube:hover path {
  fill: #bb0000;
}

.social-icons .stackoverflow:hover polygon {
  fill: #BCBBBB;
}

.social-icons .stackoverflow:hover path {
  fill: #F48023;
}
