@import url(http://fonts.googleapis.com/css?family=Open+Sans:400&subset=latin,latin-ext);

html,
body {
  height: 100%;
  color: #232323;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.8;
}

body {
  background-color: #91C499;
  margin: 0;
  padding: 2vh 10vw;
}

.card {
  padding: 1vh 3vw;
  width: 74vw;
  min-width: 500px;

  background-color: #f0fae6;
}

.card .header {
  display: flex;
  justify-content: space-between;

  border-bottom: 3px #494949 solid;
}

.card h1,
.card .social-icons {
  margin: 12px 0 6px 0;
}

.card h5 {
  margin-top: 6px;
}

.social-icons li {
  display: inline-block;
  vertical-align: middle;
  margin: 7px 4px;
}

.social-icons a,
.social-icons svg {
  display: block;
  height: 42px;
  width: 42px;
}

.social-icons path {
  fill: #000;
}

.social-icons a:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease;
}

.social-icons a path {
  transition: fill 0.5s ease;
}

.social-icons .linkedin:hover path {
  fill: #007bb6;
}

.social-icons .stackoverflow:hover polygon {
  fill: #BCBBBB;
}

.social-icons .stackoverflow:hover path {
  fill: #F48023;
}

.cv {
  border-left: 3px #91C499 solid;
  padding-left: 12px;
}

.cv h3,
.cv h4,
.cv p {
  margin: 3px 0 6px 0;
}

.cv a {
  color: initial;
}
